*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
body,html{
    max-width: 100vw;
    overflow-x: hidden;
}

.header_page{ 
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}
.bg-dark-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0.222) 100%);
    z-index: 2;

}

.nav_bar{
    height: 100px;
    width:100%;
    position: absolute;
    z-index: 2;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.bike_logo{
    background-size: 100%;
   
}

.nav_link_items{
    gap: 30px;
    display: flex;
    
    
}
.nav_link_items a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav_link_items li {
    list-style: none;
}

.link_button{
    padding: 15px;
    
    background-color: dodgerblue;
    border-radius: 30px;
}
.link_button:hover{
    background-color: aqua;
    color: black;
}

.page_containt{
    margin-left: 200px;
    width: 50%;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
}
.page_containt h1{
    font-size: 70px;
}
.page_containt h2{
    font-size: 30px;
}
.page_containt h3{
    font-size: 30px;
}
.book_btn{
    width: 150px;
    color: black;
    font-size: 20px;
    background-color: rgba(127, 255, 212, 0.896);
}

.header_button_box{
    height:80px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 80px;
    background-color: #333333;
}
.buttom_bar {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
   padding: 30px;
}

.buttom_bar li {
    color: white;
    list-style: none;
}

.small_bike_logo{
    font-size: 5px;
}
.white_buttom_bar{
    height: 80px;
    width: 100%;
    border: 2px solid white;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}


.containt_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    gap: 10px;
}
.containt_page h1{
    font-size: 50px;
    color: #2a4696;
}
.containt_page h1 b{
    font-size: 50px;
    color: black;
}

.containt_page p{
    font-size: 25px;
    color: #09b294;
}

.big_box_containt{
     width: 80%;
     display: grid;
     /* justify-content: center; */
     /* align-items: center; */
     grid-template-columns:repeat(3, [col-start] minmax(330px, 1fr) [col-end]);
     /* flex-wrap: wrap; */
     margin-top: 30px;
     gap: 30px;
     margin-bottom: 30px;
     
}

.small_containt-box {
    padding: 20px;
    /* height: 260px; */
    gap: 20px;
    color: #ffffff;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 11%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small_containt-box:hover .small_containt-box-img{
 transition: transform .5s ease;
 transform: rotateY(.5turn);
}
.small_containt-box-img{
    transition: transform .5s ease;
    transform: rotateY(0turn);
   }
.small_containt-box h2{
    color: #2a4696;
}
.small_containt-box P{
    color: #929292;
    font-size: 15px;
}

.third_page{
    /* height: 800px; */
    width: 80%;
   display: grid;
   grid-template-columns: repeat(2, [col-start] minmax(400px, 1fr) [col-end]);
   margin: auto;
   gap: 60px;
   margin-top: 70px;
}
.box_three_page_01{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_three_page_01 b{
    color:#2a4696;
}
.box_three_page_01 li{
    font-size: 17px;
    color: #929292;
}
.box_three_page_01 h3{
    color: #929292;
}
.box_three_page_01 h1{
    font-size: 50px;
}
.box_three_page_01 p{
    color:#929292;
}

.box_three_page_02{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./f1.jpg);
    background-size: cover;
    background-position: center;
}
.box_three_page_03{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./f2.jpg);
    background-size: cover;
    background-position: center;
}
.box_three_page_04{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_three_page_04 b{
    color:#2a4696;
}
.box_three_page_04 li{
    font-size: 17px;
    color: #929292;
}
.box_three_page_04 h3{
    color: #929292;
}
.box_three_page_04 h1{
    font-size: 50px;
}
.box_three_page_04 p{
    color:#929292;
}

@media (max-width:768px) {
    .big_box_containt{
        grid-template-columns:repeat(2, [col-start] minmax(250px, 1fr) [col-end]);
        
   }
    
}